.button {
    background-color: wheat;
    color: rgb(77, 56, 11);
    width: fit-content;
    align-self: center;
    padding: 7px 15px;
    border: none;
    border-radius: 15px;
    border: 1px solid rgb(77, 56, 11);
    transition: all ease-in-out 0.1s;
    font-weight: 600;
}

.button:hover {
    background-color: rgb(77, 56, 11);
    color: wheat;
    cursor: pointer;
}